# dependencies
web-app/node_modules
web-app/.pnp
web-app/.pnp.js

# testing
web-app/coverage

# next.js
web-app/.next/
web-app/out/

# production
web-app/build

# misc
web-app/.DS_Store
web-app/*.pem

# debug
web-app/npm-debug.log*
web-app/yarn-debug.log*
web-app/yarn-error.log*
web-app/.pnpm-debug.log*

# local env files
web-app/.env
web-app/.env.local
web-app/.env.development.local
web-app/.env.test.local
web-app/.env.production.local

# vercel
web-app/.vercel

# typescript
web-app/*.tsbuildinfo



##### Contract #####

contract/node_modules
contract/.env
contract/coverage
contract/coverage.json
contract/typechain
contract/typechain-types

#Hardhat files
contract/cache*
contract/artifacts*
